body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  background-color: black;
  border: 2px solid rgb(41, 41, 255);
}

.insta-header img{
  display: flex;
 margin-left: auto;
  
}

h1{
  display: flex;
  justify-content: flex-start;
  color: white;
  padding-left: 20px;
  
}

.search-bar-wrapper{
  border: 2px solid rgb(41, 41, 255);
}

.search-form input{
  width: 400px;
  font-size:larger;
}

.navbar-links{
  display: flex;
  justify-content: space-around;
  font-size: 40px;
}

.post-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-image{
  border: 2px solid rgb(41, 41, 255);
  width: 625px;
}


.navbar-container{
  border: 2px solid rgb(41, 41, 255);
}

.postHeader-wrapper{
  border: 2px solid rgb(41, 41, 255);
  width: 625px;
  height: 100px;
  display: flex;
  flex-direction: row;

  
  
}

.post-thumb-wrapper{
  width: 50px;
  height: 50px;
  
}

.post-thumb{
  height: 100px;
  width: 100px;
}

.postHeader-username{
  display: flex;
  justify-content: center;
  padding-left: 65px;
  padding-top: 20px;
}

.like-number{
  color: white;
  display: flex;
  padding-left: 30px;
  font-family: monospace;
  font-weight: bolder;
  font-size: x-large;
  

}

.like-section{
  border: 2px solid rgb(41, 41, 255);
  padding-top: 15px;
}

.like-tab{
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 625px;
  height: 50px;
  
}

.likes-emoji{
  padding-left: 20px;
  font-size: xx-large;
}

.comments-emoji{
  padding-left: 25px;
  font-size: xx-large;
}

